@use "../../styles/mixins";

.Box {
  @include mixins.box;
}

.form {
  @include mixins.form;
}
.base {
  @include mixins.base;
}

.level1 {
  @include mixins.level1;
}
.level1 > div {
  margin: 6px 0;
}

.Address,
.Term,
.Tag {
  width: 30%;
  div {
    width: 100%;
  }
}

.Term div {
  display: flex;
  justify-content: end;
}

.Title {
  @include mixins.title;
}
.location {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.Description {
  @include mixins.description;
}

.Submit {
  @include mixins.submit;
}

.Term div {
  padding-top: 0;
}
