.Box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ea8585;
  margin: 20px 40px;
  padding: 30px 50px;
}

.Id_Container {
}
.Title_Container {
}
.Description_Container {
}
